*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans Extrabold",sans-serif;
}
header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}
nav{
    display: flex;

    align-items: center;
    width: 65vw;
    justify-content: space-between;
}
.nav-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.nav-right ul{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 18px;
}
.nav-right ul li a{
    text-decoration: none;
    color: #E5E7EB;
}
.header-contents{
    margin: 80px;
    width: 65vw;
    display: flex;
    gap: 13px;
}
.header-contents-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.header-contents-left p:nth-child(1){
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.header-contents-left p:nth-child(2){
    font-size: 18px;
    color: #F9FAF8;
}
.signup{
    align-self: flex-start;
    padding: 7px 25px;
    border-style: none;
    border-radius: 9px;
    background-color: #3882f6;
    color: #F9FAF8;
}
.header-contents-right{
    height: auto;
    width: 50%;
    background: #fff;
}
.information{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 35px;
}
.information > p{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.information-item{
    display: flex;
    justify-content: space-evenly;
    
    /* gap: 22px; */
    width: 65vw;
}
.image-text-container{
    flex-direction: column;
    gap: 13px;
    width: 200px;
}
.image{
    height: 150px;
    width: 200px;
    border: 9px solid #3882f6;
    /* border-style: none; */
    border-radius: 15px;
}
.image-text-container p{
    display: inline-flex;
}
.quotes{
    background-color: #E5E7EB;
    color: #1F2937;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 17%;
    gap: 10px;
}
.quotes > p:nth-child(1){
    font-size: 36px;
    font-style: italic;
    font-weight: lighter

}
.quotes > p:nth-child(2){
    /* font-family: sans-serif; */
    font-weight: 600;
    align-self: flex-end;
}
.blue-box-container{
    background-color: #fff;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blue-box{
    background-color: #3882f6;
    width: 65vw;
    padding: 65px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    border-radius: 20px;
}
.container{
    color: #fff;
}
.container > p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
}
.button{
    padding: 0 25px;
    border-style: none;
    border-radius: 9px;
    background-color: #3882f6;
    color: #F9FAF8;
    border: 3px solid #F9FAF8;
    height: 45px;

}