*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans Extrabold",sans-serif;
}
header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    display: flex;

    align-items: center;
    width: 65vw;
    justify-content: space-between;
}
.nav-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
}